.jadwal {
    width: 150%;
    border-collapse: collapse;
    margin: auto;
}

.jadwal th, .jadwal td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.jadwal th {
    background-color: #FFEBCD;
}

.jadwal td {
    background-color: #FFFAF0;
}

.jadwal tr:nth-child(odd) {
    background-color: #FFFFF0;
}


.jadwal tr:hover {
    background-color: #FFFFF0; 
}
